extends layout

block title
    title Página de Inicio

block content
    .main
        h1 Bienvenido a Mi Proyecto de Expedientes Médicos
        .data-card 
            p
                | ¡Hola! Mi nombre es Josue Alberto Guevara Lopez, el creador de este proyecto que está diseñado para ayudarte con la gestión de expedientes médicos. Este proyecto te permitirá gestionar y acceder a los expedientes médicos de manera eficiente y segura.
            p
                | Si eres un profesional de la salud, un paciente o un administrador, este sistema te brinda las herramientas necesarias para manejar la información médica de manera efectiva.
            p
                | Explora las funcionalidades y comienza a aprovechar los beneficios que ofrece este proyecto. ¡Gracias por ser parte de nuestra comunidad!
        .data-card 
            h3 Nombre: Josue Alberto Guevara Lopez
            h3 Carnet: 0905-20-17875
            h3 Carrera: Ingeniería en Ciencias y Sistemas
            h3 Curso: Desarrollo Web 
            h3 Sección: A
            h3 Catedrático: Ing. Ruldin Ayala