doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/styles.css")
        block title 
    body
        header
            h1 Mi sitio web de Expedientes medicos
            nav 
                ul 
                    li 
                        button(type="button", onclick='inicio()', class='button-nav') Inicio
                    li 
                        button(type="button", onclick='pacientes()', class='button-nav') Pacientes
                    li 
                        button(type="button", onclick='expedientes()', class='button-nav') Expedientes
        block content
    script(src="/static/js/layout.js")
    footer 
        p &copy; 2023 - Todos los derechos reservados 
