/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: inline;
}

header {
    background: linear-gradient(to top, #23532c 0%, #1fa337 100%);
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #04062a;

}

.button-nav{
    background: #23532c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.button-nav:hover {
    background-color: #279439;
}

footer {
    background-color: #23532c;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    /* margin: 20px; */
}

.table-container {
    max-width: 100%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; /* Para ocultar los bordes redondeados del thead */
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

thead {
    background: linear-gradient(to bottom, #23532c 0%, #20af3a 100%);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type='text'],
input[type='date'],
input[type='email'],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type='submit'] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type='submit']:hover {
    background-color: #0056b3;
}

.edit {
    background: linear-gradient(to bottom, #eff62f 0%, #f0ad4e 100%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.edit:hover {
    background-color: #b28704;
}

.delete {
    background: linear-gradient(to bottom, #e44747 0%, #c12e2a 100%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.delete:hover {
    background-color: #9a1f2e;
}

.create {
    background: linear-gradient(to bottom, #23b83e 0%, #1d923b 100%);
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.create:hover {
    background-color: #1d923b;
}

.cancel {
    background: linear-gradient(to bottom, #4e555b 0%, #2b2e30 100%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.cancel:hover {
    background-color: #4e555b;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.buttons-events {
    display: flex;
    justify-content: space-between;
}

.data-card {
    align-items: center;
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.main {
    justify-content: center;
    align-items: center;
    height: 100vh;
}
